@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
   body {
    @apply bg-[#040914] scroll-smooth;
  }
  .app-container {
    @apply w-9/12 m-auto h-screen flex items-center justify-center;
  }
  .button-theme {
    @apply text-base lg:text-sm px-9 lg:px-7 sm:px-5 py-1 text-lime-500 border border-lime-600 rounded-md hover:shadow-sm hover:shadow-green-500 transition-all duration-100 active:scale-90 hover:bg-green-500 hover:bg-opacity-10;
  }
  .input-theme {
    @apply w-full py-2 text-slate-400 pl-3 pr-11 rounded ring-1 ring-gray-800 focus:text-green-500 bg-transparent placeholder:text-slate-700 hover:ring-green-600 hover:shadow-green-600 hover:shadow focus:shadow focus:outline-none focus:ring-green-500 focus:shadow-green-500 lg:text-sm;
  }
  
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-b from-lime-500 to-green-500 text-base font-semibold;
  }
}